.Blog-Post1 {
    background-color: white;
    //margin-top: 30px;
    margin-right: 30px;
    height: 100%;
    width: 100%;
}

.Blog-header {
    height: 25%;
    position: relative;
}

.Blog-header-img img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 40px;
    margin-left: 50px;
}

.Blog-header-par {
    margin-top: 55px;
    float: left;
    margin-left: 30px;
}

.Blog-header p:first-child {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    float: left;
}
.Blog-header p:nth-of-type(2)  {
    font-size: 18px;
    margin: 0;
    float: left;
}
.Blog-header p:nth-of-type(3)  {
    font-size: 18px;
    margin: 0;
    float: left;
}

.Post-flag {
    top: 40px;
    right: -10px;
    width: 120px;
    height: 50px;
    display: inline-block;
    background-color: #66e0ff;
    overflow: auto;
    position: absolute;
    color: white;
}

.Post-flag p{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 50px;
}

.Post-body {
    display: inline-block;
    margin: 0 50px;
}

.Post-body p{
    line-height: 1.5;
    font-size: 18px;
}

// POST FILE STYLES

.Blog-Post2 {
    background-color: white;
    //margin-top: 30px;
    margin-right: 30px;
    width: 100%;
    padding-bottom: 20px;
}

.Document-container {
    height: 10%;
    border-bottom: 2px solid #C0C0C0;
    padding-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.Blog-document {
    height: auto;
    display: inline-block;
    margin-top: 55px;
    margin-left: 30px;
} 

.Document-container img{
    width: 50x;
    height: 50px;
    float: left;
    margin-top: 10px;
}

.Blog-document-par {
    margin-top: 10px;
    float: left;
    margin-left: 20px;
}

.Blog-document-par p:first-child {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    float: left;
}
.Blog-document-par p:nth-of-type(2)  {
    font-size: 12px;
    margin: 0;
    float: left;
}

.Read-more-btn {
    margin-left: 50px;
    color: #66e0ff;
    font-weight: bold;
    font-size: 24px;
}

.Blog-Post3 {
    background-color: white;
    //margin-top: 30px;
    margin-right: 30px;
    width: 100%;
    padding-bottom: 20px;
    margin-top: 100px;
}

// BLOG POST4 STARTS

.Blog-Post4 {
    background-color: white;
    margin-right: 30px;
    width: 100%;
    padding-bottom: 20px;
    height: 100%;
    background-color: #332200;
}

.Blog-Post4-text-color {
    color: white;
}

.Boby-img-container {
    width: 100%;
    position: relative;
}

.Text-on-img {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 88px;
    color: white;
    text-decoration: line-through dashed;
}
.Text-on-img span{
    text-decoration: underline overline;
    z-index: 10;
}

.Boby-img-container img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

// BLOG POST4 ENDS

// BLOG POST5 ENDS

.Blog-Post5 {
    background-color: white;
    margin-right: 30px;
    width: 100%;
    padding-bottom: 20px;
    height: 100%;
}

.Boby-img-container-post5 {
    width: 100%;
    position: relative;
}

.Boby-img-container-post5 img{
    width: 100%;
    height: 270px;
    object-fit: cover;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

// BLOG POST5 ENDS
// BLOG POST6 ENDS

.Blog-Post6 {
    background-color: #66e0ff;
    margin-right: 30px;
    width: 100%;
    padding-bottom: 20px;
    margin-top: -120px;
    //height: 100%;
}

.Post-flag-color {
    background-color: white;
}

.Post-flag-color p{
    color: #66e0ff;
}

.Post6-boby-par p{
    font-weight: bold;
    font-size: 36px;
}

.Post6-boby-par span{
    font-weight: bold;
    font-size: 86px;
}

// BLOG POST6 ENDS

.Blog-Post7 {
    background-color: white;
    margin-right: 30px;
    width: 100%;
    padding-bottom: 20px;
    margin-top: -160px;
    //height: 100%;
}