.logo {
    vertical-align: middle;
    line-height: 100px; 
    height: 70%;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 15px; 
    float: left;
}

.logo__wrapper {
    height: 100%;
    //display: inline;
    float: left;
}

.logo__wrapper p{
    margin-right: 30px;
    font-weight: bold;
}