.Nav-items {
    display: inline-block;
    font-size: 18px;
    margin-right: 70px;
    font-weight: bold;
}

.Nav__Item-Container {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    line-height: 70px; 
    padding: 0;
    margin: 0;
}

.Nav__Item-Container input {
    float: right;
    margin-top: 10px;
    height: 40px;
    width: 350px;
}

.Nav__Item-Container ul{
    padding: 0;
}

.Nav__Item-Container ::placeholder {
    color:#66e0ff;
    opacity: 1;
    font-size: 18px;
    padding-left: 20px;
    font-weight: bold;
  }
  