$noBullets: none;

.Navigation__item-container {
    list-style-type: $noBullets;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    line-height: 100px; 
    padding: 0;
    margin: 0;
    float: left;
}
.Navigation-items {
    display: inline-block;
    margin-right: 100px;
    font-weight: bold;
}

.Navigation-items:hover {
   cursor: pointer;
   border-bottom: 5px solid red;
  }
