 .NavBar {
    height: 100px;
    width: 100%;
    background-color: white;
 }
 .NavBar-container {
     width: 80%;
     margin-right: auto;
     margin-left: auto;
     height: 100%;
 }

 .Logo-container {
    height: 100%;
    width: 100%;
    display: inline-block;
    
}
.Logo-container p {
    display: inline-block;
    vertical-align: middle;
    line-height: 100px; 
    margin: 0;
    font-size: 34px;
    //float: left;
}
