$navBarheight: 100px;
$navBarBackGroundCollor: #E8E8E8;
$navBarPadding: 0px;

.Options {
    height: $navBarheight;
    background-color: $navBarBackGroundCollor;
    margin: $navBarPadding;
    border-bottom: 2px solid #C0C0C0;
    //margin-right: 30px;
    //padding-bottom: 0px;
}




