/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

*/

body {
 background-color: #E8E8E8;
}

.wrapper {
  display: grid;
  grid-template-columns: 10% 16% 16% 16% 16% 16% 10%;
  grid-template-rows: 100px 100px 300px 300px 300px 300px 300px 300px 300px 300px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  // grid-row-gap: 15px;
}

.navbar {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-template-columns: auto-fit;
}

.options {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
}

.doctittle {
  grid-column-start: 6;
  grid-column-end: 7;
}

.docList{ 
  grid-column-start: 6;
  grid-column-end: 7;
}

.First-blog-post {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
  
} 

.Second-blog-post {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: auto;
}

.Third-blog-post {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: auto;
  grid-row-end: auto;
}

.Forth-blog-post {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 7;
}

.Fifth-blog-post {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 9;
}

.Sixth-blog-post {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: auto;
}

.Seventh-blog-post {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: auto;
}