.Document-title p {
    overflow:hidden;
    text-align: center;
    vertical-align: middle;
    line-height: 100px; 
    float:left;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.Document-title {
    border-bottom: 2px solid #C0C0C0;
    margin-right: 0;
}

.Doc-list-container {
    height: 500px;
    width: 100%;
    background-color: red;
}

.list-paragraph {
    margin-left: 10px;
}

.Document-list ul{
    padding-left: 0;
    display: inline-block;
    margin: 0;
}

.List-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}